node_modules
.next
.git
.gitignore
*.md
!README.md
.env
.env.*
!.env.example
prisma/*.db
prisma/*.db-journal
.gitlab-ci.yml
docker-compose*.yml
nginx.conf
turnserver.conf
.vscode
.idea
coverage
__tests__
